spring:
  application:
    name: Onboarding Task
  datasource:
    url: jdbc:mariadb://127.0.0.1:3306/onboarding
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: mypassword
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MariaDBDialect

server:
  port: 8080
  error:
    include-message: always

logging:
  level:
    org:
      springframework:
        security: DEBUG
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

jwt:
  secret: ${JWT_SECRET}
  expirationMs: 86400000